@font-face {
    font-family: "cursed-timer";
    src: url("Cursed_Timer_ULiL/CursedTimerULiL.ttf");
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 450px;
    height: 300px;
    background: #1B244A;
    color: #EEEEEE;
    font-size: 30px;
    padding: 70px 85px;
    border: 5px solid black;
    border-radius: 3%;
}

#align-home-text {
    margin-left: 20px;
    font-weight: 1000;
    margin-bottom: 0;
}

#align-guest-text {
    margin-left: 13px;
    font-weight: 1000;
    margin-bottom: 0;
}

.scoreboard {
    width: 120px;
    height: 60px;
    background: #080001;
    color: #F94F6D;
    font-size: 60px;
    text-align: center;
    font-family: cursed-timer;
    padding: 20px;
    margin-top: 12px;
    border-radius: 5%;
}

.btn {
    margin-top: 25px;
    margin-left: 5px;
}

.btn-style {
    height: 40px;
    font-family: cursed-timer;
    font-size: 20px;
    background: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 10%;
    padding: 8px;
    margin-right: 3px;
}